{% load static %}
{% load define_action %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Guitar Shop</title>

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
        <a class="navbar-brand" href="../">Guitar Shop</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
              {% if table_name == 'guitarsapp_guitar' %}
            <li class="nav-item active">
              {% else %}
            <li class="nav-item">
             {% endif %}
              <a class="nav-link" href="/guitars">Guitars</a>
            </li>
              {% if table_name == 'guitarsapp_shop' %}
            <li class="nav-item active">
              {% else %}
            <li class="nav-item">
             {% endif %}
              <a class="nav-link" href="/shops">Shops</a>
            </li>
              {% if table_name == 'guitarsapp_customer' %}
            <li class="nav-item active">
              {% else %}
            <li class="nav-item">
             {% endif %}
              <a class="nav-link" href="/customers">Customers</a>
            </li>
              {% if table_name == 'guitarsapp_bill' %}
            <li class="nav-item active">
              {% else %}
            <li class="nav-item">
             {% endif %}
              <a class="nav-link" href="/bills">Bills</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          {% if table_name == 'guitarsapp_bill' %}
          <form action="/events/" class=" mt-2 mt-md-0 left_forms" method="post">
            {% csrf_token %}
            <div class="form-div">
            <p>Set Reduce Event time:</p>
            <input class="form-control mr-sm-2" type="text" placeholder="DD/MM/YYYY/HH/MM/SS" name="event_time">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Set</button>
            </div>
          </form>
          <div style="margin-left: 0.5rem; margin-top: 0.5rem;">
            <label>Event time: {{ event_time }}</label>
            <a href="https://time.is/Kyiv" id="time_is_link" rel="nofollow" style="font-size:24px; color:green;">Киев:</a>
            <span id="Kyiv_z713" style="font-size:24px"></span>
            <script src="//widget.time.is/t.js"></script>
            <script>
               time_is_widget.init({Kyiv_z713:{}});
            </script>
          </div>
          <form action="/triggers/" class=" mt-2 mt-md-0 left_forms" method="post">
            {% csrf_token %}
            <div class="form-div" style="margin-top: 0.5rem;">
              <label>Activate/Deactivate trigger:</label>
              {% if trigger_switch == 'Activate' %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Activate</button>
              {% else %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Deactivate</button>
              {% endif %}
            </div>
          </form>
          <form action="/procedures/" class=" mt-2 mt-md-0 left_forms" method="post">
            {% csrf_token %}
            <div class="form-div" style="margin-top: 0.5rem;">
            <label>Run procedure:</label>
              <br/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Run</button>
            </div>
          </form>
          {% endif %}
          <form class=" mt-2 mt-md-0 left_forms" method="get">
            <div class="form-div">
            <p>Search by text enumerations:</p>
            <input class="form-control mr-sm-2" type="text" placeholder="attribute" id="enum_attr">
            <input class="form-control mr-sm-2" type="text" placeholder="text1:text2:text3" aria-label="Search" id="enum_vals">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="enumFunc('enum_attr', 'enum_vals')">Search</button>
            </div>
          </form>
          <form class="mt-2 mt-md-0 left_forms" method="get">
            <div class="form-div">
            <p>Search by line segment (for example, from 1 to 2):</p>
            <input class="form-control mr-sm-2" type="text" placeholder="attribute" id="nums_attr">
            <input class="form-control mr-sm-2" type="text" placeholder="1:2" aria-label="Search" id="nums_vals">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="enumFunc('nums_attr', 'nums_vals')">Search</button>
               </div>
          </form>
          <form class="mt-2 mt-md-0 left_forms" method="post" action="">
            {% csrf_token %}
            <div class="form-div">
            <p>Search words in boolean mode:</p>
            <input name="attr_w" class="form-control mr-sm-2" type="text" placeholder="attribute">
            <input name='words' class="form-control mr-sm-2" type="text" placeholder="text1 text2 text3" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               </div>
            <div class="form-div">
            <p>Search text in boolean mode:</p>
            <input name="attr_t" class="form-control mr-sm-2" type="text" placeholder="attribute">
            <input name='text' class="form-control mr-sm-2" type="text" placeholder="some text" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               </div>
          </form>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h2>Section: {{ table_name.upper }}</h2>
          {% if message == 'Elements not found' %}
          <p style="color: red;">{{ message }}</p>
          {% else %}
          <p>{{ message }}</p>
          {% endif %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              {% for element in elements|slice:":1" %}
                <tr>
                    {% for obj in element %}
                  <th>{{ obj }}</th>
                    {% endfor %}
                  {% if table_name == 'guitarsapp_bill' %}
                  <th>action</th>
                  {% endif %}
                </tr>
              {% endfor %}
              </thead>
              <tbody>
              {% for element in elements %}
                <tr>
                  {% for obj, val in element.items %}
                      {% if val == None %}
                      <td></td>
                      {% else %}
                          {% if obj == 'bill_id' or obj == 'guitar_id' or obj == 'shop_id' or obj == 'customer_id'%}
                          <td style="background: MediumSpringGreen; color: black;">{{ val }}</td>
                          {% elif obj == 'bill_guitar_id' or obj == 'bill_shop_id' or obj == 'bill_customer_id' or obj == 'price' or obj == 'purchase_datetime' %}
                          <td style="background: PaleGreen; color: black;">{{ val }}</td>
                          {% else %}
                          <td>{{ val }}</td>
                          {% endif %}
                      {% endif %}
                  {% endfor %}
                  {% if table_name == 'guitarsapp_bill' %}
                  <td>
                    <form class="mt-2 mt-md-0 left_forms" method="post" action="/delete_element/{{ table_name }}/{{ element.bill_id }}">
                      {% csrf_token %}
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">X</button>
                    </form>
                  </td>
                  {% endif %}
                </tr>
              {% endfor %}
              {% if table_name == 'guitarsapp_bill' %}
              {% for element in elements|slice:":1" %}
                  <tr>
                    <form class="mt-2 mt-md-0 left_forms" method="post" action="/add_element/">
                      {% csrf_token %}
                    {% for obj in element %}
                    <td id="tr_id" style="background: DarkGreen; color: white;">
                      {% for obj_add, val_add in dropdown_values.items %}
                      {% if obj == obj_add %}
                      <select name="{{ obj }}" style="width: 100%; padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; padding-left: 0.75rem;">
                        {% for val_add_inst in val_add %}
                        <option>{{ val_add_inst }}</option>
                        {% endfor %}
                      </select>
                      {% endif %}
                      {% endfor %}
                      <!-- I'm sorry, but this rendering so hard -->
                      {% if obj == 'price' or obj == 'bill_id' or obj == 'purchase_datetime' %}
                      <input name="{{ obj }}" class="form-control mr-sm-2" type="text" placeholder="{{ obj }}">
                      {% endif %}
                    </td>
                    {% endfor %}
                      <td><button class="btn btn-outline-success" type="submit">Add / Update</button></td>
                    </form>
                  </tr>
              {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'bootstrap/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script>
        function enumFunc(attr, vals){
           document.getElementById(vals).name = document.getElementById(attr).value;
        }
    </script>

  </body>
</html>
